/*Login page*/
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: JosefinSans-Bold;
    src: url('../fonts/JosefinSans-Bold.ttf');
}
@font-face {
    font-family: FontAwesome;
    src: url('fontawesome.css');
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #1b3815;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #1b3815;}
input:-moz-placeholder { color: #1b3815;}
input::-moz-placeholder { color: #1b3815;}
input:-ms-input-placeholder { color: #1b3815;}

textarea::-webkit-input-placeholder { color: #1b3815;}
textarea:-moz-placeholder { color: #1b3815;}
textarea::-moz-placeholder { color: #1b3815;}
textarea:-ms-input-placeholder { color: #1b3815;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: red;
    line-height: 1.4;
}

.txt2 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #455A64;
    line-height: 1.4;
}

.txt3 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #455A64;
    line-height: 1.4;
    text-transform: uppercase;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #fff;
    position:fixed;
}

.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 11px 58px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:2px 11px 58px -2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:2px 11px 58px -2px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 2px 11px 58px -2px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 2px 11px 58px -2px rgba(0, 0, 0, 0.4);
}


/*==================================================================
[ Form ]*/

.login100-form {
    width: 100%;
    position: relative;


}

.login100-form-title {
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #455A64;
    padding-top: 50px;
    padding-bottom: 39px;
    max-height: 110px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.p-r-55 {
    padding-right: 55px;
}
.p-l-55 {
    padding-left: 55px;
}
.p-t-178 {
    padding-top: 178px;
}

.input100 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;

    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 {
    width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #455A64;
    border-radius: 25px;

    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #263238;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 1000;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;

    font-family: Ubuntu-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    z-index: 1100;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 576px) {
    .login100-form {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*--------------------*/
/*Navbar*/
.navbar
{
    background: #455A64;
    padding: 0;
}
.navbar .nav-item > a
{
    color: white;
    font-weight: bold;
    font-size:20px;
    }
.navbar .active > a
{
    background: #263238;
}
.dropdown-item
{
    font-size: 15px;
    font-weight: bold;
}
.navbar .dropdown-divider
{
    border-top: 1px solid #455A64;
}
.hvr-sweep-to-right:before,.hvr-sweep-to-left:before,.hvr-sweep-to-bottom:before
{
    background: #212529;
}
.navbar-brand
{
    overflow: visible;
    position: relative;
    height: 50px;
}
.navbar-brand img
{
    position: absolute;
    left: 0;
    top: 0;
}
/*-------------------------------------------*/

/*content*/
.content .row >div img
{
    width: 100%;
}
.content .row >div
{
    /*background-color: black;*/
    display: flex;
    flex-direction: column;
}
.content .row >div .volt
{
    overflow: hidden;
    border:1px solid rgba(0,0,0,.6);
    border-radius: 7px;
    padding: 0;
    font-weight: bold;
    text-align: center;
    width: 70%;
}
.content .row >div .volt span
{
    padding: 3px 4px;
    height: 100%;
    box-sizing: border-box;
    float: left;
    width: 30%;
}
.switches{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 110px;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.content .row >div .volt .value
{
line-height: 1.4em;
width: 70%;
height: 100%;
font-size: 20px;
color: #111;
text-align: center;
font-family: d;
font-weight: bold;
}
.content .row .btn
{
    cursor: pointer;
}
.content .row .btn-secondary.active
{
    background-color: darkgreen;
}
.content .row .btn-group
{
    margin-top: 20px;
}
.content .row .lightrange
{
    margin-top: 20px;
}
.content .row label.rangelight
{
    width: 80%;
}
.content .row label.rangelight .left
{
    float: left;
}
.content .row label.rangelight .right
{
    float: right;
}
.content .item
{
    position: relative;
}
.content .notification
{
    position: absolute;
    top: -25px;
    left: 85px;
    
}
/*-------------------------------------------*/
/*Update*/

 .update 
{
 position: fixed;
 
}


/*---------------*/
/*footer*/
footer
{
    color: white;
    background-color: #263238;
    padding: 7px 0!important;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
/*---------------------*/

